<h4 class="mt-4 text-center">Cadastro</h4>

<form class="form mt-2 p-2" [formGroup]="novoUsuarioForm" (ngSubmit)="cadastrar()">
  <div class="mb-2">
    <label for="email" class="form-label">E-mail</label>
    <input
      type="email"
      class="form-control"
      formControlName="email"
      name="email"
    />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.['required'] &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="E-mail obrigatório"
    ></app-mensagem>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.['email'] &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="E-mail no formato incorreto"
    ></app-mensagem>
  </div>
  <div class="mb-2">
    <label for="fullName" class="form-label">Nome Completo</label>
    <input
      type="text"
      class="form-control"
      formControlName="fullName"
      name="fullName"
      required
    />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('fullName')?.errors &&
        novoUsuarioForm.get('fullName')?.touched
      "
      mensagem="Nome incompleto"
    ></app-mensagem>
  </div>
  <div class="mb-2">
    <label for="userName" class="form-label">Nome do Usuário</label>
    <input
      type="text"
      class="form-control"
      formControlName="userName"
      name="userName"
      required
    />
    <app-mensagem
      *ngIf="
      novoUsuarioForm.get('userName')?.errors?.['required'] &&
        novoUsuarioForm.get('userName')?.touched
      "
      mensagem="Nome de Usuário obrigatório"
    ></app-mensagem>
    <app-mensagem
      *ngIf="
    novoUsuarioForm.get('userName')?.errors?.['minusculo'] &&
      novoUsuarioForm.get('userName')?.touched
    "
      mensagem="Usuário deve ser em letra minúscula"
    ></app-mensagem>
    <app-mensagem
      *ngIf="
    novoUsuarioForm.get('userName')?.errors?.['usuarioExistente'] &&
      novoUsuarioForm.get('userName')?.touched
    "
      mensagem="Usuário já existe"
    ></app-mensagem>
  </div>
  <div class="mb-2">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      formControlName="password"
      name="password"
      required
    />
    <app-mensagem
      *ngIf="
      novoUsuarioForm.errors?.['senhaIgualUsuario'] &&
      novoUsuarioForm.get('password')?.touched
    "
      mensagem="Senha deve ser diferente do usuário"
    ></app-mensagem>
    <app-mensagem
      *ngIf="
      novoUsuarioForm.get('password')?.errors?.['required'] &&
      novoUsuarioForm.get('password')?.touched
    "
      mensagem="Senha obrigatória"
    ></app-mensagem>
    <app-mensagem
      *ngIf="
      novoUsuarioForm.get('password')?.errors?.['minlength'] &&
      novoUsuarioForm.get('password')?.touched
    "
      mensagem="Senha deve ter no mínimo 8 dígitos"
    ></app-mensagem>
  </div>
  <div class="d-grid gap-1">
    <button type="submit" class="btn btn-primary btn-block">Login</button>
  </div>
</form>

<p class="mb-3 p-2 text-end">
  Já é um usuário? <a [routerLink]="['']">Faça Login!</a>
</p>
