<header class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">
        Gatito Book
        <i
          (click)="menu.abreMenu()"
          (keyup.space)="menu.abreMenu()"
          class="fa fa-bars ms-2"
        >
        </i>
      </a>

      <app-menu #menu>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
      </app-menu>
      <div *ngIf="user$ | async as user">
        <div *ngIf="user.name; else login">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link">
                <i class="fa fa-user-circle me-1"></i> {{ user.name }}
                <i class="fa fa-sign-out" (click)="logout()"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <ng-template #login>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['']">
          <i class="fa fa-sign-in"></i> Login
        </a>
      </li>
    </ul>
  </ng-template>
</header>
<script>
  $(function () {
    $(".dropdown").hover(
      function () {
        $(this).addClass("open");
      },
      function () {
        $(this).removeClass("open");
      }
    );
  });
</script>
