<h4 class="text-center">Login</h4>

<form class="form mt-2" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="mb-3">
    <label for="usuario" class="form-label">Nome do Usuário</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="usuario"
      name="usuario"
      #campoUsuario="ngModel"
      required
    />
    <app-mensagem
      *ngIf="campoUsuario.invalid && campoUsuario.touched"
      mensagem="Usuário obrigatório"
    ></app-mensagem>
  </div>
  <div class="mb-3">
    <label for="senha" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      [(ngModel)]="senha"
      name="senha"
      #campoSenha="ngModel"
      required
    />
    <app-mensagem
      *ngIf="campoSenha.invalid && campoSenha.touched"
      mensagem="Senha obrigatória"
    ></app-mensagem>
  </div>
  <div class="d-grid gap-1">
    <button
      type="submit"
      class="btn btn-primary btn-block"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
  </div>
</form>

<p class="mt-3 text-end">Não é um usuário? <a [routerLink]="['novousuario']">Se cadastre!</a></p>
